<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
<body>
    <%- include('../partials/header')%> 
    <main class="edit-prod">
        <form action="/products/create" method="POST" class="form-login" enctype="multipart/form-data">
            <h2>Creá tu producto</h2>
            
            <input type="text" name="name" placeholder="Nombre del producto">
            <input type="text" name="brand" placeholder="Marca">
            <input type="radio" name="gender" value="male" id="male">
            <label for="male">Masculino</label>
            <input type="radio" name="gender" value="female" id="female">
            <label for="female">Femenino</label>
            <input type="text" name="description" placeholder="Descripción">
            
            <h4>Categoría del producto</h4>
            <input type="radio" name="category_id" value="1" id="1">
            <label for="1">Runner</label>
            
            <input type="radio" name="category_id" value="2" id="2">
            <label for="2">Atletic</label>
            
            <input type="radio" name="category_id" value="3" id="3">
            <label for="3">footbol</label>
            
            <input type="radio" name="category_id" value="4" id="4">
            <label for="4">Tennis</label>
            
            <input type="radio" name="category_id" value="5" id="5">
            <label for="5">Aire libre</label>
            
            <h4>Seleccione el talle</h4>
            <input type="radio" id="talleS" name="size" value="S">
            <label for="talleS">Talle S</label>
            
            <input type="radio" id="talleM" name="size" value="M">
            <label for="talleM">Talle M</label>
            
            <input type="radio" id="talleL" name="size" value="L">
            <label for="talleL">Talle L</label>
            
            <input type="radio" id="talleXL" name="size" value="XL">
            <label for="talleXL">Talle XL</label>
            
            <h4>Elegí una imagen para tu producto</h4>
            <input type="file" name="image">
            
            <input type="number" name="price" placeholder="Precio">
            <input type="text" name="discount" placeholder="Descuento">
            
            <input type="submit" value="Enviar">
        </form>
    </main>
    <%- include('../partials/footer')%>
</body>
</html>