<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')%>
<body>
    <%- include('../partials/header')%> 
    <main class="edit-prod">
        <form action="/products/create" method="POST" class="form-login" enctype="multipart/form-data">
            <h2>Creá/editá tu producto</h2>
          
            <input type="text" name="name" placeholder="Nombre del producto">
            <input type="text" name="brand" placeholder="Marca">
            <input type="radio" name="gender" value="male" id="male">
            <label for="male">Masculino</label>
            <input type="radio" name="gender" value="female" id="female">
            <label for="female">Femenino</label>
            <input type="text" name="description" placeholder="Descripción">
              <h4>Categoría del producto</h4>
              
                <input type="radio" name="category" value="a" id="a">
                <label for="a">Runner</label>
            
                <input type="radio" name="category" value="b" id="b">
                <label for="b">Atletic</label>
            
                <input type="radio" name="category" value="c" id="c">
                <label for="c">footbol</label>
            
                <input type="radio" name="category" value="d" id="d">
                <label for="d">Tennis</label>
            
                <input type="radio" name="category" value="e" id="e">
                <label for="e">Aire libre</label>
            
            <h4>Seleccione el talle</h4>
            
                <input type="radio" id="talleS" name="talle" value="S">
                <label for="talleS">Talle S</label>
              
                <input type="radio" id="talleM" name="talle" value="M">
                <label for="talleM">Talle M</label>
            
                <input type="radio" id="talleL" name="talle" value="L">
                <label for="talleL">Talle L</label>
                
                <input type="radio" id="talleXL" name="talle" value="XL">
                <label for="talleXL">Talle XL</label>
                <h4>Elegí una imagen para tu producto</h4>
                <input type="file" name="image">
                
                <input type="number" name="price" placeholder="Precio">
                <input type="text" name="discount" placeholder="Descuento">
            <input type="submit" value="Enviar">
        </form>
    </main>
    <%- include('../partials/footer')%>
</body>
</html>