<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head')%>
<body>
    <%- include('partials/header')%> 

    <body>
        <h1>Detalle de producto - Conjuno Adidas Tres Tiras</h1>
        <article class="card-container">
            <div class="main-article">
 
            <img src="/images/show/conjuntoAdiddasH.jpg" alt="Conjunto Adiddas (Hombre)" >
            <div class="description-box">
                 <h4 class="description">Conjunto Adiddas (hombre)</h4>
                 <p class="price">$22300</p>
                </div> 
            </div>
        </article>
       
      
        <div>
          <h2>Seleccione un Talle</h2>
          
            
          <form>
            <label for="talleS">Talle S</label>
            <input type="radio" id="talleS" name="talle" value="S">
          </form>
      <form>
            <label for="talleM">Talle M</label>
            <input type="radio" id="talleM" name="talle" value="M">
        </form>
            <label for="talleL">Talle L</label>
            <input type="radio" id="talleL" name="talle" value="L">
            <form>
            <label for="talleXL">Talle XL</label>
            <input type="radio" id="talleXL" name="talle" value="XL">
          </form>
        </div>
      
        
        <button type="button" onclick="comprar()">Comprar Ahora</button>
<%- include('partials/footer')%>
        </body>