<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/home.css">

    <title>SportGO</title>
</head>
<body>
    <header>
        <body>
            <nav>
              <div class="logo">
                <a href="static/images/go.png">Your Logo</a>
              </div>
          
              <div class="search-bar">
                <input type="text" placeholder="Search...">
                <button type="submit">Search</button>
              </div>
          
              <a href="#">Login</a>
              <a href="#">Sign Up</a>
              <a href="#">Shopping Cart</a>
            </nav>
    </header>
    <main>
        <article class="card-container">
           <div class="main-article">
            
            <img src="static/images/show/camperaPumaH.jpg" alt="Campera Puma (Hombre)" >
            
                <h4 class="description">Campera deportiva Puma (H)</h4>
                <p class="price">$6.770</p>
                <p class="discount">40% off</p>
               
            </div>
        </article>
        <article class="card-container">
           <div class="main-article">

            <img src="static/images/show/binchaNike.jpg" alt="Bincha Nike" >
            
                <h4 class="description">Bincha Nike</h4>
                <p class="price">$1500</p>
                <p class="discount">40% off</p>
               
            </div>
        </article>
        <article class="card-container">
           <div class="main-article">

           <img src="static/images/show/camperaAdiddasF.jpg" alt="Campera Adiddas (mujer)" >
            
                <h4 class="description">Campera deportiva Adiddas</h4>
                <p class="price">$8500</p>
                <p class="discount">40% off</p>
               
            </div>
        </article>
        <article class="card-container">
           <div class="main-article">

           <img src="static/images/show/conjuntoAdiddasH.jpg" alt="Conjunto Adiddas (Hombre)" >
            
                <h4 class="description">Conjunto Adiddas (hombre)</h4>
                <p class="price">$22300</p>
                <p class="discount">40% off</p>
               
            </div>
        </article>
        <article class="card-container">
           <div class="main-article">

            <img src="static/images/show/conjuntoNikeF.jpg" alt="Conjunto Nike (Mujer)" >
            
                <h4 class="description">Conjunto deportivo Nike (mujer)</h4>
                <p class="price">$37855</p>
                <p class="discount">40% off</p>
               
            </div>
        </article>
        <article class="card-container">
           <div class="main-article">

           <img src="static/images/show/guanteNike.jpg" alt="Guante Nike" >
            
                <h4 class="description">Campera deportiva Adiddas</h4>
                <p class="price">$2300</p>
                <p class="discount">40% off</p>
               
            </div>
        </article>


    </main>
    <footer>
        <div class="icono">
            <i class="fa-solid fa-credit-card"></i>
        </div>
        <h4 class="h4footer">Pagá con tarjeta o en efectivo</h4>
        <p class="pfooter">Con SportGO cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        <br>

        <div class="icono">
            <i class="fa-solid fa-gift"></i>
        </div>

        <h4 class="h4footer">Envío gratis desde $ 2.500</h4>
        <p class="pfooter">Solo por estar registrad@ en SportGO tenés envíos gratis en miles de
            productos. Es un beneficio de SportGO puntos.</p>
        <br>

        <div class="icono">
            <i class="fa-solid fa-user-shield"></i>
        </div>
        <h4 class="h4footer">Seguridad, de principio a fin</h4>
        <p class="pfooter">¿No te gusta? ¡Devolvelo! En SportGO, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>

        <p class="pfooter">Copyright © 1997-2023 SportGO S.R.L.</p>

    </footer>
</body>
</html>