<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com%22%3E/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>SportGO</title>
</head>
<body>
    <header>
            <nav>
              <div>
                <image class="logo" src="static/images/go-horizontal.png" alt="logo">
              </div>
          
              <form action="#" method="GET" class="search-bar">
                <input type="text" placeholder="Search...">
                <button type="submit">Search</button>
              </form>
          
              <a href="/login">Login</a>
              <a href="/">Home</a>
              <a href="/shopping-cart">Shopping Cart</a>
            </nav>
    </header>
    <main class="register">
        <form action="/" method="POST" class="form-register">
            <input type="text" name="name" placeholder="Nombre y apellido">
            <input type="text" name="user" placeholder="Nombre de usuario">
            <input type="email" name="email" placeholder="E-mail">
           
            <label for="birth_date"><b>Fecha de nacimiento</b></label>
            
            <input type="date" name="birth_date" id="birth_date">
            
            <input type="text" name="addres" placeholder="Domicilio">
            <h4>Perfil del usuario</h4>
            <div class="profile">
                <input type="radio" name="profile" value="buy" id="buy">
                <label for="buy">Comprador</label>
                <input type="radio" name="profile" value="sell" id="sell">
                <label for="sell">Vendedor</label>
            </div>

            <h4>Intereses</h4>
            <div class="interests">
                <div>
                    <input type="checkbox" name="interests" value="a" id="a">
                    <label for="a">Runner</label>
                </div>
                <div>
                    <input type="checkbox" name="interests" value="b" id="b">
                    <label for="b">Atletic</label>
                </div>
                <div>
                    <input type="checkbox" name="interests" value="c" id="c">
                    <label for="c">footbol</label>
                </div>
                <div>
                    <input type="checkbox" name="interests" value="d" id="d">
                    <label for="d">Tennis</label>
                </div>
                <div>
                    <input type="checkbox" name="interests" value="e" id="e">
                    <label for="e">Aire libre</label>
                </div>
            </div>
            
            <h4>Elegí tu foto de usuario</h4>
            <input type="file" name="avatar">
            
            <input type="password" name="pass" placeholder="Elegí tu contraseña">
            <input type="password" name="pass_confirm" placeholder="Confirmá tu contraseña">
           
            <input type="submit" value="Enviar">
            <input type="reset" value="Borrar">
            
        </form>
    </main>
    <footer>
        <div class="footer-content">
            <div class="footer-section-img">
                <img src="static/images/go.png" alt="">
            </div>
<br>
            <div class="footer-section-info">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
                    aliquam, purus sit amet volutpat.</p>
            </div>

            <div class="footer-section-contact">
                <span><i class="fas fa-phone"></i> &nbsp;123-456-789</span>
                <span><i class="fas fa-envelope"></i> &nbsp;info@example.com</span>
            </div>

            <div class="footer-section-socials">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </footer>
</body>
</html>