<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com%22%3E/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>SportGO</title>
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <image class="logo" src="static/images/go-horizontal.png" alt="logo">
            </div>
            <form action="#" method="GET" class="search-bar">
                <input type="text" placeholder="Search...">
                <button type="submit">Search</button>
            </form>
              <a href="/login">Login</a>
              <a href="/register">Register</a>
              <a href="/shopping-cart">Shopping Cart</a>
        </nav>
    </header>
    <body>
        <h1>Carrito de Compras</h1>
        <img src="static/images/show/camperaAdiddasF.jpg" alt="Campera Adiddas (mujer)" >
        <div class="description-box">
             <h4 class="description">Campera deportiva Adiddas</h4>
             <p class="price">$8500</p>
             
        <button >Agregar al carrito</button>
      </div>
    
      
      <img src="static/images/show/camperaAdiddasF.jpg" alt="Campera Adiddas (mujer)" >
      <div class="description-box">
           <h4 class="description">Campera deportiva Adiddas</h4>
           <p class="price">$8500</p>
               
        <button>Agregar al carrito</button>
      </div>
    
      <div id="carrito">
        <h3>Carrito</h3>
        <ul id="lista-carrito"></ul>
        <p id="total">Total: $0</p>
        <button onclick="confirmarCompra()">Confirmar compra</button>
      </div>
      <footer>
        <div class="footer-content">
            <div class="footer-section-img">
                <img src="static/images/go.png" alt="">
            </div>
<br>
            <div class="footer-section-info">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
                    aliquam, purus sit amet volutpat.</p>
            </div>

            <div class="footer-section-contact">
                <span><i class="fas fa-phone"></i> &nbsp;123-456-789</span>
                <span><i class="fas fa-envelope"></i> &nbsp;info@example.com</span>
            </div>

            <div class="footer-section-socials">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </footer>
</body>
</html>