<footer>
    <div class="footer-content">
        <div class="social-links">
            <div class="logo">
                <a href="/"><img src="/images/go-horizontal.png" alt="SportGO"></a>
            </div>
            
            <ul>
                <li><a href="" target="_blank"><i class="fab fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/sportgo2024/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://twitter.com/SportGo388132" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://github.com/CSRuggeri/grupo_2_SportGO" target="_blank"><i class="fa-brands fa-github"></i></a></li>
            </ul> 
        </div>
        <div class="support">
            <section>
                <h3>Categorías
                </h3>
                <ul>
                    <li><a href="">Zapatillas</a></li>
                    <li><a href="">Camisetas</a></li>
                    <li><a href="">Para niños</a></li>
                    <li><a href="">Running</a></li>
                </ul>
            </section>
            <section>
                <h3>Soporte
                </h3>
                <ul>
                    <li><a href="">Contactanos</a></li>
                    <li><a href="">b</a></li>
                    <li><a href="">c</a></li>
                </ul>
            </section>
            <section>
                <h3>Sobre la empresa
                </h3>
                <ul>
                    <li><a href="">quienes somos</a></li>
                    <li><a href="">b</a></li>
                    <li><a href="">c</a></li>
                </ul>
            </section>
        </div>
    </div>
    <div class="company-rights">
        <p>2024 SportGO ®</p>
    </div>
</footer>