<header>
    <nav>
        <div class="logo">
            <image class="logo" src="static/images/go-horizontal.png" alt="logo">
        </div>
        <form action="#" method="GET" class="search-bar">
            <input type="text" placeholder="Search...">
            <button type="submit">Search</button>
        </form>
          <a href="/login">Login</a>
          <a href="/register">Register</a>
          <a href="/shopping-cart">Shopping Cart</a>
    </nav>
</header>