<header>
    
        <div class="logo">
            <a href="/"><image src="/images/go-horizontal.png" alt="logo"></a>
        </div>
        <form action="#" method="GET" class="search-bar">
            <input type="text" placeholder="Buscar...">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button> 

        </form>
    <div class="menu-button"><button><span class="material-symbols-outlined">menu</span></button></div>
    
    <nav>
          <% if(!locals.logged) { %><a href="/users/login" class="nav-buttons">Iniciar sesión</a><% } %>
          <% if(!locals.logged) { %><a href="/users/register" class="nav-buttons">Registrarse</a><% } %>
          <% if(locals && locals.logged && locals.admin) { %><a href="/products/create" class="nav-buttons">Publicar producto</a><% } %>
          <a href="/cart" class="nav-buttons"><i class="fa-solid fa-cart-shopping"></i></a>
          <% if(locals && locals.logged) { %> <a href="/users/<%= loggedUser.id %>/dashboard" class="nav-buttons">
            <% if(!loggedUser.avatar) {%>
                <i class="fa-solid fa-user"></i>
            <% } else { %> 
                <img src="<%= loggedUser.avatar %>" alt="pfp" class="pfp"> 
            <% } %></a> <% } %>
          
          
         
    </nav>
</header>