<header>
    <nav>
        <div class="logo">
            <a href="/"><image src="/images/go-horizontal.png" alt="logo"></a>
        </div>
       
        </form>
          <a href="/users/login" class="nav-buttons">Login</a>
          <a href="/users/register" class="nav-buttons">Register</a>
          <a href="/shopping-cart" class="nav-buttons">Shopping Cart</a>
          <a href="/products/create" class="nav-buttons">Create</a>
          <% if(locals && locals.user) { %> <a href="/users/<%= user.id %>/dashboard" class="nav-buttons">Profile</a> <% } %>
          
         
    </nav>
</header>