.error-msg{
    color:brown;
    align-content: center;
    font-size: small;
    margin-top: 0px;
    padding-inline: 10%;
}
.error-span{
    font-size: small;
}
div.input input.error-input{
    border: 0.15rem solid brown;
}
div.input input.error-input:focus+label{
    color: brown
}
div.input input.error-input:not(:placeholder-shown)+label{
    color: brown;
}
.hidden{
    display:none;
}