.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}
.registro,.create, .detail{
    margin: 10vh;
}
.register-column, .create-column{
    width: 50%;
    min-height: 400px;
    padding:3%
}
.detail-column-img{
    width: 60%;
}
.detail-column-img img{
    padding: 3%;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(4.31, 7.45, 12.55, 0.3);
    width: 80%;
    aspect-ratio: 1/1;
    object-fit: contain;
    margin-inline: 3%;
}
.detail-column-info{
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: start;
    width: 40%;
    margin-inline: 3%;

}
.add-product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}
.add-cart{
    width: 80%;
}
.admin-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}
.admin-buttons a, .admin-buttons button {
    text-align: center;
    margin: 3%;
}
div.profile div{
    align-content: start;
    text-align: start;
}

img.pfp-preview {
    width: 40%;
    border-radius: 50%;
    background-color: white;
    aspect-ratio: 1 / 1;
    object-fit:contain;
}
.form-width{
    width: 60%;
    text-align: center;
    align-content: center;
}
.register-form, .create-form, .detail-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

}
.detail-info{
    padding-inline: 5%;
    padding-bottom: 5%;
}
.avatar-input, .product-input {
    display: none;
}
div.img{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.bd-label{
    color: #0B1320;
}
.min-height{
    align-content: center;
    min-height: 230px
}

/* login form */
.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    aspect-ratio: 1 / 1;
    background-color: white;
    margin: 5%;
    border-radius: 10px;
    font-size: 2vw;
}
.login-form h1{
    margin: 2vw;
    font-size: 2rem;
    color:#0B1320
}
.login-form p {
    padding-inline: 5%;
    font-size: 1rem;
}

/* Create form */

.gender, .size{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.gender div,.size div{
    margin: 10px;
}
.product-preview{
    width: 40%;
    padding: 5px;
    margin: 5px;
    background-color: white;
    aspect-ratio: 1 / 1;
    object-fit:contain;
    box-shadow: 0 0 10px rgba(4.31, 7.45, 12.55, 0.3) ;
}

/*  */

div.detail-info .product-price{
    text-align: start;
    font-size: 1.3rem;
}
.discount{
    margin: 0;
    color: green;
}
.user-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 426px) and (max-width : 1023px){
    .form-width{
        width: 90%;
    }
    .login-form{
        width: 50%;
    }
    .login-form h1{
        margin-top: 6%;
        font-size: 1.7rem;
    }
    .login-form button{
        margin-bottom: 6%;
    }
}
@media screen and (min-width: 0px) and (max-width : 425px){
    .form-width{
        width: 100%;
    }
    .register-form, .create-form, .detail-info{
        flex-direction: column;
    }
    .register-column, .create-column{
        width: 90%;
        min-height:auto
    }
    .min-height{
        min-height: auto;
    }
    .login-form{
        width: 90%;
        padding: 10px;    
    }
    .detail-column-info, .detail-column-img{
        width: 100%;
    }
}

