body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: rgb(98, 79, 79);
  display: flex;
  flex-direction: column;
    align-items: center;
}

header{
  width: 100%;
}
nav {
  background-color: rgb(118 5 4);
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1px;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
}

.logo{
  width: 25vh;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px 16px;
  display: inline-block;
  background-color: #88888881;
  border-radius: 9px;
}

nav a:hover {
  background-color: #ddd;
  color: rgb(197, 197, 197);
}

.search-bar {
 width: 35%;
  
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.product-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  box-shadow: 3px 3px 5px #888888;
  margin: 10px;
  background-color: rgb(255, 255, 255);
  width: 50%;
}

article img {
  width: 50%;
  border-radius: 8px 8px 0 0;
}

.main-article {
 margin-bottom: -6px;
  text-align: center;
  align-items: center;
  flex-direction: column;
  
}
div.description-box{
 display: flex;
 flex-direction: column;
 


}
.description {
  color: #666; /* Change the font color */
  background-color: #f2f2f2; /* Change the background color */
  padding: 10px; /* Add padding for better visibility */
  border-radius: 0 0 8px 8px; /* Adjust border-radius to match the card */
}

.discount {
  color: #39b54a;
  padding: 15px;
  margin-bottom: 10px;
}

p {
  color: rgb(0, 0, 0);
}

h4 {
  color: rgb(0, 0, 0);
}
form.form-login, form.form-register {
  display: flex;
  align-items: center;
  background-color: #ffffff40;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50vh;
  flex-direction: column;
}
/* Common Styles */
/* .main {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

input{
border-radius: 8px;
width: 70%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
 
}

form.search-bar input{
  margin: 10px 0px
}

select,
label {
 background-color: whitesmoke;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid  rgba(255, 166, 0, 0.632);
  border-radius: 4px;
  
}

/* Login Styles */
main.login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20vh 0px;
  
}
.login h2{
  font-family: Arial, sans-serif;
  background-color: #ea7500aa;
  border-radius: 7px;
  width: 50%;
  display: flex;
  flex-direction: row;
    justify-content: center;
}

input[type="submit"] {
  background-color: #ea7500ab;
  color: #fff;
  cursor: pointer;
  width: 30%;
  border-radius: 9px;
}

/* Register Styles */
.register, main.edit-prod{
  margin: 10vh 0px
}
.interests{
  display: flex;
}
.profile{
  display: flex;
}
.profile input,label{
  width: 60%;

}

@media (min-width: 0px) and (max-width : 361px) {
  article {
      box-shadow: 5px 5px 10px #888888;
  }
  nav{
    justify-content: flex-start;
  }
  nav a{
    display: none;
    
  }
}

/* Additional styles for larger screens if needed */

/* Example: Hide description on larger screens */
@media (min-width: 769px) {
  article  {
      width: 18%
  }
}

footer{
  background-color: rgb(118 5 4);
  border-radius: 9px;
  width: 100%;
}
.footer-section-img{
  height: 60px;
  width: auto; 
}
.footer-section-img img {
  width: 100px;
  height: auto;
  flex-direction: initial;
}
.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  width: 100%;
  align-items: center;
  flex-wrap: nowrap;}

  
  .articulos-principalesdet {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 35%;
    padding: 10px;
    border-radius: 9px;
    box-shadow: 0 2px 5px var(--verde-claro);
    background-color: rgb(255, 255, 255);
    margin-top: 5rem;
  }

  .articulosRelacionados
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .articulo-itemdet {
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px var(--verde-claro);
    background-color: rgb(255, 255, 255);
  }
  .articulo-itemdet img {
    height: 250px;
    margin: 10px;
    width: 250px;
  }
  .articulo-itemdet a {
    color: var(--black);
    text-decoration: none;
    text-transform: uppercase;
  }
  .detButton{
    background-color: #ea7500ab;
  color: #fff;
  cursor: pointer;
  width: 100%;
  height: 3rem;
  border-radius: 9px;
  padding: 10px, 10px;
  }

  .pay{
    margin-top: 15rem;
    margin-bottom: 10rem;
    display: flex;
  align-items: center;
  background-color: #ffffff40;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 width: 70%;
height: 30rem;
  
  }